.swiper {
    width: 100vw;
    height: fit-content;
  }
  
  .swiper-slide {
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: none;
  }
  
  .swiper-slide img {
    display: block;
    object-fit: cover;
  }