.buscador{
    background-image: linear-gradient(to bottom right, rgb(13, 37, 77), rgb(26, 145, 85));
}

.background{
    position: absolute;
}

.navbar{
    position: fixed;
    background-color: rgb(39, 39, 39);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    z-index: 15;
    width: 100%;
}

.inputDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    border: none;
    background-color: rgb(177, 177, 177);
    border-radius: .5rem;
    height: 2rem;
    width: 20rem;
}

.btns{
    margin-right: 2rem;
}

.btn{
    border: none;
    padding: .5rem;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    background: none;
    color: rgb(177, 177, 177);
    font-weight: bolder;
    cursor: pointer;
    margin-left: 2rem;
    margin-right: 1rem;
}

.container{
    overflow-x: hidden;
    padding: 2rem;
    padding-top: 4rem;
    
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
    margin: 2rem;
}

.swiperTitle {
    font-size: 2rem;
    color: white;
    font-family: "Montserrat";
}

@media (max-width: 1540px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1250px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 935px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 580px) {
    .cards {
        grid-template-columns: 1fr;
    }
}
