.buscador{
    background-image: linear-gradient(to bottom right, rgb(13, 37, 77), rgb(26, 145, 85));
}

.background{
    position: absolute;
}

.navbar{
    position: fixed;
    background-color: rgb(39, 39, 39);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    z-index: 15;
    width: 100%;
}

.inputDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    border: none;
    background-color: rgb(177, 177, 177);
    border-radius: .5rem;
    height: 2rem;
    width: 20rem;
    outline: none;
    font-family: 'Montserrat';
    padding-left: .8rem;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.btns{
    margin-right: 2rem;
}

.btn{
    border: none;
    padding: .5rem;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    background: none;
    color: rgb(177, 177, 177);
    font-weight: bolder;
    cursor: pointer;
    margin-left: 2rem;
    margin-right: 1rem;
}

.container{
    overflow-x: hidden;
    padding: 2rem;
    padding-top: 7vh;
    
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
    margin: 2rem;
}

.swiperTitle {
    font-size: 2rem;
    color: rgb(177, 177, 177);
    font-family: "Montserrat";
    
}

.MyClassEnterActive {
    opacity: 0;
    transform: translate(0px, 10px);
    transition: transform .5s, opacity 1s linear;
}

.MyClassEnterDone {
    opacity: 1;
    transform: translate(0px, -10px);
    transition: transform .5s, opacity 1s linear;
}

@media (max-width: 850px) {

    .input{
        width: 15rem;
    }

}

@media (max-width: 730px) {
    
    .input{
        width: 10rem;
    }

    .btns{
        margin: 0;
        margin-right: 1rem;
    }

    .btn{
        margin-left: 1rem;
        margin-right: .5rem;
    }
}

@media (max-width: 562px) {

    .container{
        padding-top: 5vh;
    }

    .navbar{
        height: 3%;
    }

    .btn{
        font-size: 1rem;
    }
}

@media (max-width: 500px) {

    .input{
        height: 1.5rem;
        width: 7rem;
    }

    .navbar{
        height: 3%;
    }

    .btns{
        margin-left: 0;
    }

    .btn{
        font-size: .8rem;
    }
}

@media (max-width: 420px) {

    .input{
        height: 1.3rem;
        width: 6rem;
    }

    .navbar{
        height: 3%;
    }

    .btns{
        margin-left: 0;
        width: fit-content;
    }

    .btn{
        font-size: .8rem;
        padding: .2rem;
        margin-left: .3rem;
    }
}

@media (max-width: 940px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 824px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 730px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 576px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}

@media (max-width: 415px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    }
}