.container{
    background-color: rgb(226, 226, 226);
    text-align: center;
    cursor: pointer;
    transition: background-color .4s;
}

.container:hover{
    background-color: rgb(187, 181, 181);
    transition: background-color .4s;
}

.fav{
    z-index: 10;
}

.fav:hover {
    color: aqua;
}