.container{
    background-image: linear-gradient(to bottom right, rgb(13, 37, 77), rgb(26, 145, 85));
    height: fit-content;
    max-height: 90vh;
    min-height: 50vh;
    width: 40vw;
    overflow-x: hidden;
    position: relative;
    border-radius: 1rem;

}

.background{
    position: absolute;
    margin: 0;
}

.info{
    text-align: center;
    color: white;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.titulo{
    margin: 0;
    color:white;
    font-size: 2.5rem;
    font-family: 'Montserrat';
}

.detalles{
    font-size: 1.3rem;
    margin: .5rem;
}


.img{
    width: 15vw;
    object-fit: cover;
    border-radius: 1rem;
    z-index: 1;
}

.descripcion{
    width: 95%;
    height: fit-content;
}


@media (max-width: 1390px) {

    .titulo{
        font-size: 2rem;
    }

    .detalles{
        font-size: 1rem;

    }

}


@media (max-width: 1100px) {

    .titulo{
        font-size: 2rem;
    }

    .detalles{
        font-size: 1rem;
    }

    .img{
        width: 23vw;
    }

    .container{
        width: 50vw;
    }

}

@media (max-width: 850px) {

    .titulo{
        font-size: 1.7rem;
    }

    .detalles{
        font-size: 1rem;
    }

    .img{
        width: 28vw;
    }

    .container{
        width: 60vw;
    }

}

@media (max-width: 600px) {

    .titulo{
        font-size: 1.7rem;
    }

    .detalles{
        font-size: 1rem;
    }

    .img{
        width: 35vw;
    }

    .container{
        width: 75vw;
    }

}

@media (max-width: 470px) {

    .titulo{
        font-size: 1.5rem;
    }

    .detalles{
        font-size: .8rem;
    }

    .img{
        width: 35vw;
    }

    .container{
        width: 75vw;
    }

}